In [1]:
!pip install -r requirements.txt

Requirement already satisfied: tensorflow in ./.conda/lib/python3.11/site-packages (from -r requirements.txt (line 1)) (2.16.2)
Requirement already satisfied: pandas in ./.conda/lib/python3.11/site-packages (from -r requirements.txt (line 2)) (2.2.3)
Requirement already satisfied: numpy in ./.conda/lib/python3.11/site-packages (from -r requirements.txt (line 3)) (1.26.4)
Requirement already satisfied: scikit-learn in ./.conda/lib/python3.11/site-packages (from -r requirements.txt (line 4)) (1.6.1)
Requirement already satisfied: tensorboard in ./.conda/lib/python3.11/site-packages (from -r requirements.txt (line 5)) (2.16.2)
Requirement already satisfied: matplotlib in ./.conda/lib/python3.11/site-packages (from -r requirements.txt (line 6)) (3.10.1)
Requirement already satisfied: streamlit in ./.conda/lib/python3.11/site-packages (from -r requirements.txt (line 7)) (1.43.2)
Requirement already satisfied: absl-py>=1.0.0 in ./.conda/lib/python3.11/site-packages (from tensorflow->-r requirements.txt (line 1)) (2.1.0)
Requirement already satisfied: astunparse>=1.6.0 in ./.conda/lib/python3.11/site-packages (from tensorflow->-r requirements.txt (line 1)) (1.6.3)
Requirement already satisfied: flatbuffers>=23.5.26 in ./.conda/lib/python3.11/site-packages (from tensorflow->-r requirements.txt (line 1)) (25.2.10)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in ./.conda/lib/python3.11/site-packages (from tensorflow->-r requirements.txt (line 1)) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in ./.conda/lib/python3.11/site-packages (from tensorflow->-r requirements.txt (line 1)) (0.2.0)
Requirement already satisfied: h5py>=3.10.0 in ./.conda/lib/python3.11/site-packages (from tensorflow->-r requirements.txt (line 1)) (3.13.0)
Requirement already satisfied: libclang>=13.0.0 in ./.conda/lib/python3.11/site-packages (from tensorflow->-r requirements.txt (line 1)) (18.1.1)
Requirement already satisfied: ml-dtypes~=0.3.1 in ./.conda/lib/python3.11/site-packages (from tensorflow->-r requirements.txt (line 1)) (0.3.2)
Requirement already satisfied: opt-einsum>=2.3.2 in ./.conda/lib/python3.11/site-packages (from tensorflow->-r requirements.txt (line 1)) (3.4.0)
Requirement already satisfied: packaging in ./.conda/lib/python3.11/site-packages (from tensorflow->-r requirements.txt (line 1)) (24.2)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in ./.conda/lib/python3.11/site-packages (from tensorflow->-r requirements.txt (line 1)) (4.25.6)
Requirement already satisfied: requests<3,>=2.21.0 in ./.conda/lib/python3.11/site-packages (from tensorflow->-r requirements.txt (line 1)) (2.32.3)
Requirement already satisfied: setuptools in ./.conda/lib/python3.11/site-packages (from tensorflow->-r requirements.txt (line 1)) (75.8.2)
Requirement already satisfied: six>=1.12.0 in ./.conda/lib/python3.11/site-packages (from tensorflow->-r requirements.txt (line 1)) (1.17.0)
Requirement already satisfied: termcolor>=1.1.0 in ./.conda/lib/python3.11/site-packages (from tensorflow->-r requirements.txt (line 1)) (2.5.0)
Requirement already satisfied: typing-extensions>=3.6.6 in ./.conda/lib/python3.11/site-packages (from tensorflow->-r requirements.txt (line 1)) (4.12.2)
Requirement already satisfied: wrapt>=1.11.0 in ./.conda/lib/python3.11/site-packages (from tensorflow->-r requirements.txt (line 1)) (1.17.2)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in ./.conda/lib/python3.11/site-packages (from tensorflow->-r requirements.txt (line 1)) (1.71.0)
Requirement already satisfied: keras>=3.0.0 in ./.conda/lib/python3.11/site-packages (from tensorflow->-r requirements.txt (line 1)) (3.9.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in ./.conda/lib/python3.11/site-packages (from tensorflow->-r requirements.txt (line 1)) (0.37.1)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.conda/lib/python3.11/site-packages (from pandas->-r requirements.txt (line 2)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.conda/lib/python3.11/site-packages (from pandas->-r requirements.txt (line 2)) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in ./.conda/lib/python3.11/site-packages (from pandas->-r requirements.txt (line 2)) (2025.1)
Requirement already satisfied: scipy>=1.6.0 in ./.conda/lib/python3.11/site-packages (from scikit-learn->-r requirements.txt (line 4)) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in ./.conda/lib/python3.11/site-packages (from scikit-learn->-r requirements.txt (line 4)) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in ./.conda/lib/python3.11/site-packages (from scikit-learn->-r requirements.txt (line 4)) (3.6.0)
Requirement already satisfied: markdown>=2.6.8 in ./.conda/lib/python3.11/site-packages (from tensorboard->-r requirements.txt (line 5)) (3.7)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in ./.conda/lib/python3.11/site-packages (from tensorboard->-r requirements.txt (line 5)) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in ./.conda/lib/python3.11/site-packages (from tensorboard->-r requirements.txt (line 5)) (3.1.3)
Requirement already satisfied: contourpy>=1.0.1 in ./.conda/lib/python3.11/site-packages (from matplotlib->-r requirements.txt (line 6)) (1.3.1)
Requirement already satisfied: cycler>=0.10 in ./.conda/lib/python3.11/site-packages (from matplotlib->-r requirements.txt (line 6)) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in ./.conda/lib/python3.11/site-packages (from matplotlib->-r requirements.txt (line 6)) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in ./.conda/lib/python3.11/site-packages (from matplotlib->-r requirements.txt (line 6)) (1.4.8)
Requirement already satisfied: pillow>=8 in ./.conda/lib/python3.11/site-packages (from matplotlib->-r requirements.txt (line 6)) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in ./.conda/lib/python3.11/site-packages (from matplotlib->-r requirements.txt (line 6)) (3.2.1)
Requirement already satisfied: altair<6,>=4.0 in ./.conda/lib/python3.11/site-packages (from streamlit->-r requirements.txt (line 7)) (5.5.0)
Requirement already satisfied: blinker<2,>=1.0.0 in ./.conda/lib/python3.11/site-packages (from streamlit->-r requirements.txt (line 7)) (1.9.0)
Requirement already satisfied: cachetools<6,>=4.0 in ./.conda/lib/python3.11/site-packages (from streamlit->-r requirements.txt (line 7)) (5.5.2)
Requirement already satisfied: click<9,>=7.0 in ./.conda/lib/python3.11/site-packages (from streamlit->-r requirements.txt (line 7)) (8.1.8)
Requirement already satisfied: pyarrow>=7.0 in ./.conda/lib/python3.11/site-packages (from streamlit->-r requirements.txt (line 7)) (19.0.1)
Requirement already satisfied: tenacity<10,>=8.1.0 in ./.conda/lib/python3.11/site-packages (from streamlit->-r requirements.txt (line 7)) (9.0.0)
Requirement already satisfied: toml<2,>=0.10.1 in ./.conda/lib/python3.11/site-packages (from streamlit->-r requirements.txt (line 7)) (0.10.2)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in ./.conda/lib/python3.11/site-packages (from streamlit->-r requirements.txt (line 7)) (3.1.44)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in ./.conda/lib/python3.11/site-packages (from streamlit->-r requirements.txt (line 7)) (0.9.1)
Requirement already satisfied: tornado<7,>=6.0.3 in ./.conda/lib/python3.11/site-packages (from streamlit->-r requirements.txt (line 7)) (6.4.2)
Requirement already satisfied: jinja2 in ./.conda/lib/python3.11/site-packages (from altair<6,>=4.0->streamlit->-r requirements.txt (line 7)) (3.1.6)
Requirement already satisfied: jsonschema>=3.0 in ./.conda/lib/python3.11/site-packages (from altair<6,>=4.0->streamlit->-r requirements.txt (line 7)) (4.23.0)
Requirement already satisfied: narwhals>=1.14.2 in ./.conda/lib/python3.11/site-packages (from altair<6,>=4.0->streamlit->-r requirements.txt (line 7)) (1.31.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in ./.conda/lib/python3.11/site-packages (from astunparse>=1.6.0->tensorflow->-r requirements.txt (line 1)) (0.45.1)
Requirement already satisfied: gitdb<5,>=4.0.1 in ./.conda/lib/python3.11/site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit->-r requirements.txt (line 7)) (4.0.12)
Requirement already satisfied: rich in ./.conda/lib/python3.11/site-packages (from keras>=3.0.0->tensorflow->-r requirements.txt (line 1)) (13.9.4)
Requirement already satisfied: namex in ./.conda/lib/python3.11/site-packages (from keras>=3.0.0->tensorflow->-r requirements.txt (line 1)) (0.0.8)
Requirement already satisfied: optree in ./.conda/lib/python3.11/site-packages (from keras>=3.0.0->tensorflow->-r requirements.txt (line 1)) (0.14.1)
Requirement already satisfied: charset-normalizer<4,>=2 in ./.conda/lib/python3.11/site-packages (from requests<3,>=2.21.0->tensorflow->-r requirements.txt (line 1)) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in ./.conda/lib/python3.11/site-packages (from requests<3,>=2.21.0->tensorflow->-r requirements.txt (line 1)) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./.conda/lib/python3.11/site-packages (from requests<3,>=2.21.0->tensorflow->-r requirements.txt (line 1)) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in ./.conda/lib/python3.11/site-packages (from requests<3,>=2.21.0->tensorflow->-r requirements.txt (line 1)) (2025.1.31)
Requirement already satisfied: MarkupSafe>=2.1.1 in ./.conda/lib/python3.11/site-packages (from werkzeug>=1.0.1->tensorboard->-r requirements.txt (line 5)) (3.0.2)
Requirement already satisfied: smmap<6,>=3.0.1 in ./.conda/lib/python3.11/site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit->-r requirements.txt (line 7)) (5.0.2)
Requirement already satisfied: attrs>=22.2.0 in ./.conda/lib/python3.11/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit->-r requirements.txt (line 7)) (25.3.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in ./.conda/lib/python3.11/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit->-r requirements.txt (line 7)) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in ./.conda/lib/python3.11/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit->-r requirements.txt (line 7)) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in ./.conda/lib/python3.11/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit->-r requirements.txt (line 7)) (0.23.1)
Requirement already satisfied: markdown-it-py>=2.2.0 in ./.conda/lib/python3.11/site-packages (from rich->keras>=3.0.0->tensorflow->-r requirements.txt (line 1)) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in ./.conda/lib/python3.11/site-packages (from rich->keras>=3.0.0->tensorflow->-r requirements.txt (line 1)) (2.19.1)
Requirement already satisfied: mdurl~=0.1 in ./.conda/lib/python3.11/site-packages (from markdown-it-py>=2.2.0->rich->keras>=3.0.0->tensorflow->-r requirements.txt (line 1)) (0.1.2)

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [3]:
data = pd.read_csv('data/Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
# pre-process data 
data = data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [5]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [7]:
## one hot encode 'Georaphy'
from sklearn.preprocessing import OneHotEncoder

one_hotencoder_geo = OneHotEncoder()
geo_encoder = one_hotencoder_geo.fit_transform(data[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [8]:
one_hotencoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [9]:
geo_encoder_df = pd.DataFrame(geo_encoder.toarray(),columns=one_hotencoder_geo.get_feature_names_out(['Geography']))
geo_encoder_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [10]:
# Combine 
data = pd.concat([data.drop(['Geography'],axis=1),geo_encoder_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [11]:
### SAVE ENCODERS

with open('label_encoder_gender.pkl', 'wb') as f:
    pickle.dump(label_encoder_gender, f)

with open('one_hotencoder_geo.pkl', 'wb') as f:
    pickle.dump(one_hotencoder_geo, f)

In [12]:
## divide into train and test 
X = data.drop(['Exited'],axis=1)
y = data['Exited']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [13]:
with open('scaler.pkl', 'wb') as f:
    pickle.dump(scaler, f)

In [15]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [17]:
model = Sequential([
        Dense(64,activation='relu', input_shape=(X_train.shape[1],)), ## HL1 connected with input layer
        Dense(32,activation='relu'), ## HL2 connected with HL1
        Dense(1,activation='sigmoid'), ## Output layer
    ]
)

In [18]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

# compile the model

In [20]:
opt = tf.keras.optimizers.Adam(learning_rate=0.001)
loss = tf.keras.losses.BinaryCrossentropy()

model.compile(optimizer=opt,loss=loss,metrics=['accuracy'])

In [22]:
# setup tensorboard
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

# Early stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=5, restore_best_weights=True)

# Train the model
history = model.fit(X_train, y_train, epochs=100, validation_data=(X_test, y_test), callbacks=[early_stopping_callback,tensorboard_callback])

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8013 - loss: 0.4788 - val_accuracy: 0.8380 - val_loss: 0.3887
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 997us/step - accuracy: 0.8380 - loss: 0.3874 - val_accuracy: 0.8460 - val_loss: 0.3628
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 958us/step - accuracy: 0.8571 - loss: 0.3584 - val_accuracy: 0.8595 - val_loss: 0.3511
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8577 - loss: 0.3430 - val_accuracy: 0.8600 - val_loss: 0.3467
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8614 - loss: 0.3392 - val_accuracy: 0.8585 - val_loss: 0.3491
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 976us/step - accuracy: 0.8628 - loss: 0.3311 - val_accuracy: 0.8565 - val_loss: 0.3446
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8635 - loss: 0.3282 - val_accuracy: 0.8635 - val_loss: 0.3431
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8611 - loss: 0.3313 - val_accuracy: 0.8640 - val_loss: 0.3416
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 954us/step - accuracy: 0.8635 - loss: 0.3308 - val_accuracy: 0.8640 - val_loss: 0.3407
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 960us/step - accuracy: 0.8636 - loss: 0.3219 - val_accuracy: 0.8615 - val_loss: 0.3415
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 955us/step - accuracy: 0.8718 - loss: 0.3107 - val_accuracy: 0.8635 - val_loss: 0.3410
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8647 - loss: 0.3270 - val_accuracy: 0.8650 - val_loss: 0.3406
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8708 - loss: 0.3159 - val_accuracy: 0.8660 - val_loss: 0.3409
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 957us/step - accuracy: 0.8681 - loss: 0.3202 - val_accuracy: 0.8640 - val_loss: 0.3420
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 961us/step - accuracy: 0.8692 - loss: 0.3075 - val_accuracy: 0.8655 - val_loss: 0.3460
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8615 - loss: 0.3205 - val_accuracy: 0.8610 - val_loss: 0.3468
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 951us/step - accuracy: 0.8722 - loss: 0.3093 - val_accuracy: 0.8640 - val_loss: 0.3414

In [23]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [24]:
# Load tensorboard extension 
%load_ext tensorboard

In [25]:
%tensorboard --logdir logs/fit

In [ ]:
# Load picke file for prediction